---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Blog｜shige">
  <main>
    <h1>Blogs</h1>
    <div class="posts">
      {sortedPosts.map((post) => (
        <BlogPost
          title={post.data.title}
          date={post.data.date}
          tags={post.data.tags}
          url={`/blog/${post.slug}`}
          description={post.data.description}
        />
      ))}
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem;
    max-width: 1200px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>